#!/usr/bin/env python
# -*-coding:utf-8 -*

from datetime import date, timedelta

LOGS_PATH        = ""
FILE_SUFIX       = "-error.log"
DATE_LOG_FORMAT  = "%Y/%m/%d"
YESTERDAY        = date.strftime(date.today() - timedelta(1), DATE_LOG_FORMAT)
GREP_PATTERN     = YESTERDAY + ".*\(Fatal error\|timed out\|No database selected\)"
GREP_REGEX       = r"(\d{4}\/\d{2}\/\d{2})\s(\d{2}:\d{2}:\d{2}).*"\
                    "(?:PHP Fatal error:  |timed out |No database selected )(?:(.*)(?:, client: )"\
                    "(.*)(?:, server: )(.*)(?:, request: )(.*)(?:, upstream: )(.*)(?:, host: )(.*)|(.*))"
EMAIL_FROM       = ""
SENDING_TYPE     = ["mail"] # Valeurs possibles : mail ou slack
DEVELOPERS_EMAIL = [
	"mon-email",
]

# Liste des projets
PROJECTS = [
	"mon-project"
]

# Liste des serveurs
SERVERS = [
	"ovh"
]
